html, body {
    height: 100%;
    font-family: 'Raleway', sans-serif
}

body {
    display: flex;
    align-items: stretch;
}

#root {
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito', sans-serif !important;
    font-weight: 300 !important;
}

* {
    box-sizing: border-box;
}
